.App {
	text-align: center;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'MaisonNeue', 'Segoe UI', 'Helvetica Neue', -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
p {
	margin-top: 0px;
	color: #888888;
}
button {
	background-color: #fc5200;
	color: white;
	border: none;
	padding: 5px 10px 5px 10px;
	border-radius: 0.3rem;
}
button:focus {
	outline: none;
}
